<div class="share-pagination but-{{paginSize}}">
  <div class="pagi-info pagi-comm">
    <ng-container *ngIf="paginInfoType == 'none'">
      <span></span>
    </ng-container>
    <ng-container *ngIf="paginInfoType == 'simple'">
      <span>第{{paginPage.currentPage}}页，共{{paginPage.recordCount}}条</span>
    </ng-container>
    <ng-container *ngIf="paginInfoType == 'normal'">
      <span>当前第{{paginPage.currentPage}}页，共{{paginPage.pageCount}}页，共{{paginPage.recordCount}}条</span>
    </ng-container>
    <ng-container *ngIf="paginInfoType == 'detail'">
      <span>当前第{{paginPage.currentPage}}页，共{{paginPage.pageCount}}页，每页{{paginPage.pageRecord}}条，共有{{paginPage.recordCount}}条</span>
    </ng-container>
  </div>
  <ng-container *ngIf="paginType == 'simple' || paginType == 'all'">
    <div (click)="jumpTo('first')" class="pagi-but pagi-comm pagi-first"
      [ngClass]="{'but-disable':paginPage.currentPage==1}">
      <i></i>
    </div>
    <div (click)="jumpTo('prev')" class="pagi-but pagi-comm pagi-prev"
      [ngClass]="{'but-disable':paginPage.currentPage==1}">
      <i></i>
    </div>
    <div (click)="jumpTo('next')" class="pagi-but pagi-comm pagi-next"
      [ngClass]="{'but-disable':paginPage.currentPage>=paginPage.pageCount}">
      <i></i>
    </div>
    <div (click)="jumpTo('last')" class="pagi-but pagi-comm pagi-last"
      [ngClass]="{'but-disable':paginPage.currentPage>=paginPage.pageCount}">
      <i></i>
    </div>
  </ng-container>
  <ng-container *ngIf="paginType == 'default' || paginType == 'all'">
    <div class="pagi-but pagi-comm pagi-num" [ngClass]="{'pagi-curr':paginPage.currentPage == 1}"
      (click)="jumpToNum(1)">
      <span>1</span>
    </div>
    <div class="pagi-but pagi-comm pagi-prev5" (click)="jumpTo('prev5')" *ngIf="prevFlag"><span>{{flagIcon}}</span>
    </div>
    <div class="pagi-but pagi-comm pagi-num" [ngClass]="{'pagi-curr':paginPage.currentPage == item}"
      *ngFor="let item of buttons;index as i" (click)="jumpToNum(item)">
      <span share-input-number>{{item}}</span>
    </div>
    <div class="pagi-but pagi-comm pagi-next5" (click)="jumpTo('next5')" *ngIf="nextFlag"><span>{{flagIcon}}</span>
    </div>
    <div class="pagi-but pagi-comm pagi-num" [ngClass]="{'pagi-curr':paginPage.currentPage == paginPage.pageCount}"
      *ngIf="paginPage.pageCount!=1" (click)="jumpToNum(paginPage.pageCount)"><span>{{paginPage.pageCount}}</span></div>
  </ng-container>
  <ng-container>
    <input class="pagi-but pagi-comm pagi-input" type="text" share-input-number [max]="paginPage.pageCount" min=1
      [(ngModel)]="inputNum" (keydown.enter)="jumpTo('num')" />
  </ng-container>
  <ng-container>
    <div class="pagi-record pagi-comm" cdk-overlay-origin (click)="onOpenOverlay()">
      <span>{{paginPage.pageRecord}}条/页</span>
      <i class="pull-down-icon"></i>
    </div>
  </ng-container>
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOpen]="openOverlay" [cdkConnectedOverlayOrigin]="cdkOverlayOrigin"
  [cdkConnectedOverlayWidth]="cdkConnectedOverlayWidth" [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayBackdropClass]="'transparent'" [cdkConnectedOverlayOffsetY]="2"
  (backdropClick)="onCloseOverlay()">
  <div class="E_overlay_plan pagi-overlay">
    <div class="record-item" *ngFor="let item of viewPageRecord" (click)="onSelectRecord(item)">
      <span>{{item.name}}</span>
    </div>
  </div>
</ng-template>
