<div class="cache-scroll" #viewEl>
  <span class="btn-prev" *ngIf="showScrollCtr" [class.el-disabled]="disableBefore" (click)="onScrollMove('before') ">
    <i class=" tabs-btn-icon"></i>
  </span>
  <div class="ctr-btns">
    <div class="btns-list-scroll" #scrollEl [style]="{'transform':'translateX('+-offX+'px)'}">
      <ng-content>
      </ng-content>
    </div>
  </div>
  <span class="btn-next" *ngIf="showScrollCtr" [class.el-disabled]="disableAfter" (click)="onScrollMove('after') ">
    <i class="tabs-btn-icon"></i>
  </span>
</div>
