<div class="share-input-lnglat">
  <div class="lnglat-value">
    <share-input [(model)]="model[0]" [inMin]="0" [inMax]="inMax[0]" [inType]="'int'" (modelChange)="onChange()">
    </share-input>
    <div class="lnglat-symbol">°</div>
  </div>
  <div class="lnglat-value">
    <share-input [(model)]="model[1]" [inMin]="0" [inMax]="inMax[1]" [inType]="'int'" (modelChange)="onChange()">
    </share-input>
    <div class="lnglat-symbol">'</div>
  </div>
  <div class="lnglat-value">
    <share-input [(model)]="model[2]" [inMin]="0" [inMax]="inMax[2]" [inType]="'number'" (modelChange)="onChange()">
    </share-input>
    <div class="lnglat-symbol">"</div>
  </div>
</div>
