@import "../../styles/index.less";

:host {
  width: 100%;
  height: 100%;
}

.radios {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 22px;

  .radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    min-height: 25px;
    padding: 0px 10px;
    min-width: 50px;

    i {
      display: inline-block;
      width: 16px;
      height: 16px;
      min-width: 16px;
      min-height: 16px;
    }

    span {
      padding: 0px 5px;
    }

  }

  .radio-dis {
    cursor: default !important;
  }
}

.radio.radio-type-radio {
  &:hover {
    i {
      .e_b_i('icon/check-box/radio_blank_hover');
    }
  }

  i {
    .e_b_i('icon/check-box/radio_blank');

    &.radio-check {
      .e_b_i('icon/check-box/radio_selected');

      &.radio-dis {
        .e_b_i('icon/check-box/radio_selected_disabled');
      }
    }

    &.radio-dis {
      .e_b_i('icon/check-box/radio_blank');
    }
  }
}

.radio.radio-type-check {
  &:hover {
    i {
      .e_b_i('icon/check-box/checkbox_blank_hover');
    }
  }

  i {
    .e_b_i('icon/check-box/checkbox_blank');

    &.radio-check {
      .e_b_i('icon/check-box/checkbox_selected');

      &.radio-dis {
        .e_b_i('icon/check-box/checkbox_selected_disabled');
      }
    }

    &.radio-dis {
      .e_b_i('icon/check-box/checkbox_blank');
    }
  }
}

.radio.radio-type-cricle {
  &:hover {
    i {
      .e_b_i('icon/check-box/cricle_blank_hover');
    }
  }

  i {
    .e_b_i('icon/check-box/cricle_blank');

    &.radio-check {
      .e_b_i('icon/check-box/cricle_selected');

      &.radio-dis {
        .e_b_i('icon/check-box/cricle_selected_disabled');
      }
    }

    &.radio-dis {
      .e_b_i('icon/check-box/cricle_blank');
    }
  }
}
