<div class="header-content">
  <div class="reuse-menus">
    <div class="menu" [class.active-menu]="activeMenu.path == menu.path " *ngFor="let menu of reuseMenus"
      (click)="jumpCurrentMenu(menu)" (contextmenu)="openContextmenu($event , menu)">
      <span>{{menu.title}}</span>
      <i class="close-icon" *ngIf="menu.canClose !== false" (click)="closeMenu(menu)"></i>
    </div>
    <div class="last-empty-menu"></div>
  </div>
</div>

<div *cdkPortal>
  <div class="context-menu">
    <div class="menu-item" (click)="closeMenuByType('other')">关闭其他</div>
    <div class="menu-item" (click)="closeMenuByType('right')">关闭右侧</div>
  </div>
</div>
