<div class="share-calendar E_BD E_BD_hover" cdkOverlayOrigin (click)='onOpenOverlay()' (onIconClick)="onClearClick()"
  shareIcon [inView]="vModel">
  <div class="E_T_prefix" *ngIf="_perText" [style.width]="_perWidth">{{_perText}}</div>
  <input type="text" [ngModel]="vModel" [placeholder]="inPlaceholder" readonly>
  <div class="E_suffix_icon E_split_line">
    <i class="E_I_date_day"></i>
  </div>
</div>

<!-- open框的实例-->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="cdkOverlayOrigin" [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOpen]="overlayOpen" [cdkConnectedOverlayOffsetY]='3'
  [cdkConnectedOverlayFlexibleDimensions]="true" [cdkConnectedOverlayWidth]='overlayWidth'
  [cdkConnectedOverlayBackdropClass]="'E_O_transparent'" (backdropClick)="onSureCheck(false)">
  <div class="open-overlay E_O_panel_el">
    <share-calendar-base [model]="vModel" [ifSingle]="inIfSingle" [ifDefualt]="inIfDefualt" [ifLink]="inIfLink"
      [ifMulti]="inIfMulti" [timePicker]="inTimePicker" [secondPicker]="inSecondPicker" [weekNumbers]="inWeekNumbers"
      [intervalMinute]="inIntervalMinute" [intervalSecond]="inIntervalSecond" [autoApply]="inAutoApply"
      (onCalendarChange)="onCalendarChange($event)" (onSureCheck)="onSureCheck($event)">
    </share-calendar-base>
  </div>
</ng-template>
