@import "index.less";

//表格整体配置样式调整（实现ClassTableName中的样式）
.table-part {
  &.background-color {
    tbody.has-expend {
      tr {
        background-color: @C-T-bg-tr;
      }

      tr:nth-child(4n+3) {
        background-color: @C-T-bg-td;
      }
    }
  }
}
