<div class="sidebar-scroll" [ngClass]="{'close-list': listClose}" onselectstart="return false;">
  <div class="sidebar-title">
    <i class="title-icon" (click)="setMenuWidth()"></i>
  </div>
  <ul id="al-sidebar-list" class="al-sidebar-list">
    <ng-container *ngFor="let item of menuList;index as i">
      <div class="menu" *ngIf="item.menuCode">
        <div class="menu-control" (click)="expendShow[i] = !expendShow[i]">
          <span [hidden]="listClose" [title]='item.title'>{{item.title }}</span>
          <i class="control-icon" [ngClass]="{'close-expend':expendShow[i]}"></i>
        </div>
        <ng-container *ngIf="!expendShow[i]">
          <ng-container *ngFor="let menu of item.menus">
            <div class="menu-item" *ngIf="menu.menuCode" (click)="onRouteJump(menu)"
              [ngClass]="{'selected-menu': menu == s_menu}">
              <i class="menu-icon" [ngStyle]="{'background-image': 'url(assets/img_gs/icon/'+menu.icon+')'}"
                [ngClass]="menu.icon"></i>
              <span [hidden]="listClose" [title]='menu.title '>{{menu.title }}</span>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </ul>
  <div *ngIf="!listClose" class="foot-copyright">
    <span>天津天元海科技开发有限公司</span>
    <span>Copyright&nbsp;©&nbsp;2020&nbsp;</span>
  </div>
</div>
