@trheight: 34px;
@c-thead-tr: #E4EFFF;
@c-tbody-tr: #F6FAFF;
@table-border: 1px solid #c0d8fe;
@import '../../../styles/index.less';

@c-F-default : @C-F-default;

:host {
  width: 100%;
  height: 100%;
}

.share-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  min-height: 300px;

  .no-data {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table-part {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    position: relative;


    table {
      width: 100%;
      height: 100%;

      tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        background-color: #FFF;

        &.table-thead {
          position: sticky !important;
          top: 0px;
          height: @trheight;
          z-index: 20;
        }

        td.is-sticky {
          position: sticky !important;
          left: 0px;
          background-color: inherit;
          z-index: 10;
        }

        td {
          div {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              word-break: break-all;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }

          &.view-left div {
            justify-content: left;
          }

          &.view-right div {
            justify-content: flex-end;
          }
        }
      }

      tbody {
        height: 100%;
        overflow-y: auto;

        tr {
          td {
            height: @trheight;
            overflow: hidden;

            &>div {
              padding: 0px 3px;
            }

            .table-tag {
              display: inline-block;
              min-width: 40px;
              height: 22px;
              border-radius: 3px;
              text-align: center;
              line-height: 22px;
              opacity: 0.8;
              padding: 1px 4px;
              color: #FFF;
              font-size: 12px;
            }

            .table-dot {
              width: 10px;
              height: 10px;
              border-radius: 50%;
            }

            .table-dot-span {
              display: inline-block;
              min-width: 20px;
              height: 22px;
              text-align: center;
              line-height: 22px;
              opacity: 0.8;
              padding: 0px 3px;
              color: @c-F-default;
              font-size: 14px;
            }


            .table-tag,
            .table-dot {
              &.green {
                background-color: #13C4B0;
              }

              &.danger {
                background-color: #F04864;
              }

              &.blue {
                background-color: #0055EE;
              }

              &.orange {
                background-color: #f81;
              }

              &.pink {
                background-color: #FF99CC;
              }
            }


            .expend-link {
              color: #035ADE;
              cursor: pointer;
            }
          }
        }
      }

      share-checkbox {
        display: flex;
      }
    }
  }

  .pagination-part {
    min-height: 50px;
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 20px;
  }
}



.share-table {
  .table-part {
    &.background-color {
      tr {
        &:nth-child(2n) {
          background-color: @c-tbody-tr;
        }

        &:nth-child(2n+1) {
          background-color: #FFF;
        }

        &.table-thead {
          background-color: @c-thead-tr;
        }
      }

      tbody.has-expend {
        tr {
          background-color: #FFF;
        }

        tr:nth-child(4n+3) {
          background-color: @c-tbody-tr;
        }
      }
    }

    &.simple-border {
      tr {
        border-bottom: @table-border;

        &.table-thead:first-child {
          border-top: @table-border;
        }
      }
    }

    &.border {
      tr {
        border-bottom: @table-border;

        &.table-thead:first-child {
          border-top: @table-border;
        }

        td {
          border-right: @table-border;

          &:first-child {
            border-left: @table-border;
          }

          &.expend-element-td::before {
            content: "";
            display: block;
            position: absolute;
            border: @table-border;
          }
        }
      }

    }
  }
}
