/**边框*/
.E_BD {
  .e_bd()
}

/**hover激活的边框颜色*/
.E_BD_hover {
  &:hover {
    border-color: @C-B-hover;

    .E_split_line {
      border-color: @C-B-hover;
    }
  }
}

/**前缀文本的样式*/
.E_T_prefix {
  color: #FFF;
  height: 100%;
  background-color: @C-BG-primary;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 1px 10px
}

/**文本超出宽度的样式 ...*/
.E_T_over {
  .e_T_over()
}

/**全局禁选样式*/
.E_D_S {
  user-select: none;
}

/**全局禁用样式*/
.E_D,
.E_D * {
  .e_d();
}

.E_D_drop,
.E_D_drop * {
  .e_d_drop()
}
