/**
* E:标识节点 element  全局样式标识
* BD:边框  border  
* BGC:背景色 background-color  color.less
* C:文本色 color  color.less
* D:标识禁用
* F:Flex 
* T:文本
* TF:transform 过度动画
*/
/**全局禁选样式*/
.E_D_S {
  user-select: none;
}

/**全局禁用样式*/
.E_D,
.E_D * {
  .e_d();
}

.E_D_drop,
.E_D_drop * {
  .e_d_drop()
}

/**边框*/
.E_BD {
  .e_bd()
}

/**hover激活的边框颜色*/
.E_BD_hover {
  &:hover {
    border-color: @C-B-hover;

    * {
      border-color: @C-B-hover  !important;
    }
  }
}

.E-T-prefix {
  color: #FFF;
  height: 100%;
  background-color: @C-BG-blue;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 1px 10px
}

/**下拉打开选择弹窗的动画*/
.E_TF {
  .e_tf()
}

/**Flex模式水平垂直居中*/
.E_F {
  .e_f();
}


/**水平垂直居中*/
.E_F_center {
  .e_f_center()
}

/**全局的文本样式*/
.E_T_placeholder {
  .e_t_placeholder()
}

.E_overlay_plan {
  background-color: #FFF;
}

.e_o_shade() {
  background-color: rgba(51, 51, 51, 0.35);
  // background-color: @C-black-e;
  // opacity: 0.25;
}

//半透明遮罩
.E_O_shade {
  .e_o_shade()
}

//透明遮罩
.E_O_transparent {
  background-color: transparent;
}

.E_O_panel {
  background-color: #FFF;
  border: 1px solid @C-blue-b;
  border-radius: 5px;
  overflow: hidden;
}

//加载中 share-loading
.E_loading {
  position: absolute;
  width: 100%;
  height: 100%;

  &::before {
    content: 'loading...';
    font-size: 18px;
    color: @C-blue-d;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .e_o_shade();
  }

  &::after {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-bottom: 2px solid @C-blue-b;
    border-top: 2px solid @C-blue-b;
    border-radius: 50%;
    animation: loading 1000ms linear 0ms infinite normal;
  }

}

@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotateZ(180deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
