.E_overlay_plan {
  background-color:@C-BG-normal;
}

.e_o_shade() {
  background-color: rgba(51, 51, 51, 0.35);
  // background-color: @C-black-e;
  // opacity: 0.25;
}

//半透明遮罩
.E_O_shade {
  .e_o_shade()
}

//透明遮罩
.E_O_transparent {
  background-color: transparent;
}

.E_O_panel {
  background-color: @C-BG-normal;
  border: 1px solid @C-O-border;
  border-radius: 5px;
  overflow: hidden;
}
