:host,
.share-input {
  width: 100%;
  height: 100%;
}

.share-input {
  display: flex;
  max-height: 200px;
  min-height: 28px;

  input {
    flex-grow: 1;
    border-width: 0px;
    height: 100%;
  }

  font-size: 14px;
}

.input-size-normal {
  height: 28px;
  font-size: 16px;
}

.input-size-small {
  height: 26px;
  font-size: 16px;
}

.input-size-large {
  height: 30px;
  font-size: 16px;
}
