<div class="share-select-panel E_BD E_BD_hover" cdkOverlayOrigin (click)='onOpenOverlay()'
  [ngClass]="{'select-has-border':checkOptions.length > 1}" shareIcon [inView]="inClear && checkOptions.length"
  (onIconClick)="onClickClearNodes()">
  <div class="E-T-prefix" *ngIf="_perText" [style.width]="_perWidth">{{_perText}}</div>
  <div class="selected-nodes">
    <ng-container *ngIf="(!checkOptions || checkOptions.length==0)">
      <div class="selected-node placeholder-text">
        <span>{{inPlace}}</span>
      </div>
    </ng-container>
    <ng-container *ngFor="let node of checkOptions">
      <div class="selected-node node-data-text">
        <span>{{node.showName || node.value}}</span>
        <i class="select-clear" *ngIf="inClear" (click)="onClickClearNode(node)"></i>
      </div>
    </ng-container>
  </div>
  <div class="E_suffix_icon E_split_line" *ngIf="inFlag">
    <i class="E_I_pull_down" [ngClass]=" {'E_TF_180':openOptions}"></i>
  </div>
</div>
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="cdkOverlayOrigin" [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOpen]="openOptions" [cdkConnectedOverlayOffsetY]='3'
  [cdkConnectedOverlayWidth]='cdkConnectedOverlayWidth' [cdkConnectedOverlayBackdropClass]="'E_O_transparent'"
  (backdropClick)="onCheckSureChange(false)">
  <div class="open-nodes">
    <node-add [inOptions]="options" [inCheckOptions]="checkOptions" [inIfMulti]="inMulti"
      (onCheckSureChange)="onCheckSureChange($event)"></node-add>
  </div>
</ng-template>
