<div class="layout-page">
  <!-- 头部菜单 -->
  <div class="page-head">
    <layout-head></layout-head>
  </div>
  <!-- 中部页面 -->
  <div class="page-main">
    <!-- 左侧菜单控件 -->
    <div class="main-left-menu">
      <layout-side-menu></layout-side-menu>
    </div>
    <!-- 中间主要内容 -->
    <div class="main-content">
      <!-- 路由缓存控制组件 -->
      <div class="content-router">
        <layout-cache-ctr></layout-cache-ctr>
      </div>
      <!-- 路由输出部分 -->
      <div class="content-outlet">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- 底部说明 -->
  <div class="page-footer"></div>
</div>
