<div class="layout-cache-ctr">
  <cache-scroll-ctr [inChange]="changeReuseRoute">
    <div class="reuse-list">
      <ng-container *ngFor="let route of reuseRouteList">
        <div ngPreserveWhitespaces class="reuse-item" [context-menu]="route" (onChange)="onContextMenuChange($event)"
          [ngClass]="{'active-item':route.active}" (click)="goReuseRoute(route)">
          <div class="status-dot"></div>
          {{route.title}}
          <i class="reuse-route-close" *ngIf="route.closable" (click)="onCloseReuseRoute(route)"></i>
        </div>
      </ng-container>
    </div>
  </cache-scroll-ctr>
</div>
