<div class="share-select-panel E_BD E_BD_hover" cdkOverlayOrigin (click)='onOpenOverlay()'
  [ngClass]="{'select-has-border':checkOptions.length > 1}" shareIcon [inView]="_showClear && checkOptions.length"
  (onIconClick)="onClickClearNodes()">
  <div class="E-T-prefix" *ngIf="_perText" [style.width]="_perWidth">{{_perText}}</div>
  <div class="selected-nodes">
    <ng-container *ngIf="(!checkOptions || checkOptions.length==0)">
      <div class="selected-node placeholder-text">
        <span>{{_placeholder}}</span>
      </div>
    </ng-container>
    <ng-container *ngFor="let node of checkOptions">
      <div class="selected-node node-data-text">
        <span>{{node.showName || node.value}}</span>
        <i class="select-clear" *ngIf="_showClear" (click)="onClickClearNode(node)"></i>
      </div>
    </ng-container>
  </div>
  <div class="E_suffix_icon E_split_line" *ngIf="_showFlag">
    <i class="E_I_pull_down" [ngClass]=" {'pull_down-on':openOptions}"></i>
  </div>
</div>
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="cdkOverlayOrigin" [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOpen]="openOptions" [cdkConnectedOverlayOffsetY]='3'
  [cdkConnectedOverlayWidth]='cdkConnectedOverlayWidth' [cdkConnectedOverlayBackdropClass]="'E_O_transparent'"
  (backdropClick)="closeOptions()">
  <div class="open-nodes">
    <div class="open-node none-node" *ngIf="inOptions.length == 0"> {{_noneTip}}</div>
    <div class="open-node super-node" *ngIf="superOptions && superOptions.length>1">
      <div *ngFor="let super of superOptions;last as isLast" (click)="onCheckSuper(super)">
        <span class="super-name">{{super.value}}</span>
        <span *ngIf="!isLast">>></span></div>
    </div>
    <node-panel [inAllOptions]="activeOption" (onActiveChange)="onActiveChange($event)"
      (onCheckChange)="onCheckChange($event)"></node-panel>
  </div>
</ng-template>
