<div class="ex-share-radio">
  <div class="select-para">
    {{paraA|json}}
    <div class="para-info">
      <div>多选</div>
      <div>
        <share-radio [(model)]="paraA.ifMulti" [inOptins]="radioData">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>能否清空</div>
      <div>
        <share-radio [(model)]="paraA.ifClear" [inOptins]="radioData">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>禁用被单选取消</div>
      <div>
        <share-radio [(model)]="paraA.ifDisCancel" [inOptins]="radioData">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>样式</div>
      <div>
        <share-radio [(model)]="paraA.iconType" [inOptins]="radioType">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>关键Key</div>
      <div>
        <share-radio [(model)]="paraA.key" [inOptins]="radioKey">
        </share-radio>
      </div>
    </div>
  </div>

  <share-radio [(model)]='modelRadioA' (modelRadioChange)="onModelChangeA($event)" [inPara]='paraA'
    [inOptins]="radioDatasA" [inMulti]="paraA.ifMulti" [inClear]="paraA.ifClear" [inKey]="paraA.key"
    [inDisCancel]="paraA.ifDisCancel" [inIconType]="paraA.iconType"></share-radio>
  <span>{{modelRadioA}}</span><br />
</div>
