<div class="share-calendar">
  <div class="calendar-part">
    <div class="calendar-main">
      <ng-template *ngTemplateOutlet="panel;context:{part:0,model:showA,time:timeA}"></ng-template>
    </div>
    <div class="calendar-main" *ngIf="!ifSingle">
      <ng-template *ngTemplateOutlet="panel;context:{part:1,model:showB,time:timeB}"></ng-template>
    </div>
  </div>
  <div class="E_O_btns" *ngIf="!autoApply">
    <div class="E_O_btn_sure" (click)="onSureChange(true)">确定</div>
    <div class="E_O_btn_off" (click)="onSureChange(false)">取消</div>
  </div>
</div>

<ng-template #panel let-part="part" let-date="model" let-time="time">
  <share-calendar-panel [multi]="ifMulti" [single]="ifSingle" [link]="ifLink" [timePicker]="timePicker"
    [secondPicker]="secondPicker" [weekNumbers]="weekNumbers" [intervalMinute]="intervalMinute"
    [intervalSecond]="intervalSecond" [part]="part" [show]="date" [time]="time" [checkA]="dateA" [checkB]="dateB"
    [hoverDate]="hoverDate" (onCheckDateChange)="onChangeDate($event)" (onHoverDateChange)="onChangeHoverDate($event)"
    (onShowChange)="onShowChange($event,part)" (onTimeChange)="onTimeChange($event,part)">
  </share-calendar-panel>
</ng-template>
