<div class="ex-share-select">
  <div class="select-para">
    {{paraA|json}}
    <div class="para-info">
      <div>多选</div>
      <div>
        <share-radio [(model)]="paraA.ifMulti" [inOptins]="radioData">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>选框</div>
      <div>
        <share-radio [(model)]="paraA.ifCheck" [inOptins]="radioData">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>子选项</div>
      <div>
        <share-radio [(model)]="paraA.ifSon" [inOptins]="radioData">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>下拉框</div>
      <div>
        <share-radio [(model)]="paraA.ifFlag" [inOptins]="radioData">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>添加</div>
      <div>
        <share-radio [(model)]="paraA.ifAdd" [inOptins]="radioData">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>清空</div>
      <div>
        <share-radio [(model)]="paraA.ifClear" [inOptins]="radioData">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>至少选择一个</div>
      <div>
        <share-radio [(model)]="paraA.ifOne" [inOptins]="radioData">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>激活项</div>
      <div>
        <share-radio [(model)]="paraA.ifActive" [inOptins]="radioData">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>父子项联动</div>
      <div>
        <share-radio [(model)]="paraA.ifGanged" [inOptins]="radioData">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>弹出类型</div>
      <div>
        <share-radio [(model)]="paraA.outType" [inOptins]="outTypeData">
        </share-radio>
      </div>
    </div>
    <div class="para-info">
      <div>确定取消按钮</div>
      <div>
        <share-radio [(model)]="paraA.ifBtn" [inOptins]="radioData">
        </share-radio>
      </div>
    </div>
  </div>
  <div class="select-info">
    <span>默认基本配置:{{modelA|json}}</span>
    <div class="select">
      <share-select [inOptions]="optionsA" [inBtn]="paraA.ifBtn" [(modelOptions)]="modelA" [inPara]='paraA'
        [inMulti]="paraA.ifMulti" [inAdd]="paraA.ifAdd" [inCheck]="paraA.ifCheck" [inClear]='paraA.ifClear'
        [inActive]="paraA.ifActive" [inSon]="paraA.ifSon" [inFlag]="paraA.ifFlag" [inOne]="paraA.ifOne"
        [inGanged]="paraA.ifGanged"></share-select>
    </div>
  </div>
  <div class="select-info">
    <span>待定add示例{{modelC}}</span>
    <div class="select">
      <share-select [inType]="'add'" [inBtn]="paraA.ifBtn" [inOptions]="optionsC" [(modelOptions)]="modelC"
        [inPara]='paraA' [inMulti]="paraA.ifMulti" [inAdd]="paraA.ifAdd" [inCheck]="paraA.ifCheck"
        [inClear]='paraA.ifClear' [inActive]="paraA.ifActive" [inSon]="paraA.ifSon" [inFlag]="paraA.ifFlag"
        [inOne]="paraA.ifOne" [inGanged]="paraA.ifGanged"></share-select>
    </div>
  </div>
  <div class="select-info">
    <span>待定panel示例{{modelB|json}}</span>
    <div class="select">
      <share-select [inType]="'panel'" [inOptions]="optionsB" [inBtn]="paraA.ifBtn" [(modelOptions)]="modelB"
        [inPara]='paraA' [inMulti]="paraA.ifMulti" [inAdd]="paraA.ifAdd" [inCheck]="paraA.ifCheck"
        [inClear]='paraA.ifClear' [inActive]="paraA.ifActive" [inSon]="paraA.ifSon" [inFlag]="paraA.ifFlag"
        [inOne]="paraA.ifOne" [inGanged]="paraA.ifGanged" [inAdd]="paraA.ifAdd" [inOutType]="paraA.outType">
      </share-select>
    </div>
  </div>
</div>
