<div class="ex-share-select">
  <div class="select-info">
    <span>默认基本配置</span>
    <div class="select">
      <share-select [inOptions]="default"></share-select>
    </div>
  </div>
  <div class="select-info">
    <span>异步获得选项 , 多选 ， 选中：{{optionA}}</span>
    <div class="select">
      <share-select [inOptions]="optionsA" [inConfig]="configA" [(modelOption)]="optionA"
        (modelOptionChange)="modelOptionChange($event)"></share-select>
    </div>
  </div>
  <div class="select-info">
    <span>拥有激活项和选中项两种状态 , 单选 ， 选中：{{optionB}}</span>
    <div class="select">
      <share-select [inOptions]="optionsB" [inConfig]="configB" [(modelOption)]="optionB"
        (modelOptionChange)="modelOptionChange($event)" (onActiveChange)="onActiveChange($event)"></share-select>
    </div>
  </div>
  <div class="select-info">
    <span>至少选中一项 ， 弹出选项框宽度自己设置， 选中：{{optionC}}</span>
    <div class="select">
      <share-select [inOptions]="optionsC" [inConfig]="configC" [(modelOption)]="optionC"
        (modelOptionChange)="modelOptionChange($event)"></share-select>
    </div>
  </div>
  <div class="select-info">
    <span>提示语自己设置</span>
    <div class="select">
      <share-select [inConfig]="configD"></share-select>
    </div>
  </div>
  <div class="select-info">
    <span>无选择框示例</span>
    <div class="select">
      <share-select [inOptions]="optionsB" [inConfig]="configE" [(modelOption)]="optionE"
        (modelOptionChange)="modelOptionChange($event)"></share-select>
    </div>
  </div>
  <div class="select-info">
    <span>待定示例</span>
    <div class="select">
      <share-select [inOptions]="optionsB" [inConfig]="configB" [(modelOption)]="optionB"
        (modelOptionChange)="modelOptionChange($event)"></share-select>
    </div>
  </div>
  <div class="select-info">
    <span>待定示例</span>
    <div class="select">
      <share-select-add>
      </share-select-add>
    </div>
  </div>
</div>
