<!-- <share-select [inConfig]="selectConfig" (modelOptionChange)="emitSelectChange($event)" [(modelOption)]='option'
  (onActiveChange)="onActiveChange($event)" [inOptions]='options'>
</share-select> -->
<!-- <share-modal-select-item></share-modal-select-item> -->
<!-- <div style="padding: 20px;"> 
  <share-date-picker></share-date-picker>
  <div share-checkbox></div>
  <div share-button [btnWidth]="120">按钮</div>
  <share-button [btnSize]="'large'" [btnWidth]="120" (click)="showShareModal()" [btnPerIcon]="'icon-checked'"
    [btnSufIcon]="'icon-checked'">按钮</share-button>
  <share-button [btnSize]="'small'" [btnSufIcon]="'icon-checked'">按钮</share-button>
  {{data.value}}
  <div *myd="myd,Data:data"></div>
  <app-my-component [data]='data'></app-my-component>
</div> -->
<!-- <share-input></share-input> -->
<!-- <div class="share-table-view1">
  <share-table></share-table>
</div>
<div class="share-table-view2">
  <share-table-multi-head (emitSelectChange)="acceptSelectChange($event)"></share-table-multi-head>
</div>
<div *cdkPortal>
</div>
 -->
<ng-template #showmodel>
  <div class="asdsa">
    showmodelshowmodelshowmodel
  </div>
</ng-template>
<div class="app">
  <!-- <ex-share-radio></ex-share-radio> -->
  <!-- <ex-share-select></ex-share-select> -->
  <ex-share-table></ex-share-table>
  <!-- <ex-share-date></ex-share-date> -->
  <!-- <ex-share-buttons></ex-share-buttons> -->
  <!-- <ex-share-flv></ex-share-flv> -->
  <!-- <share-button [btnSize]="'small'" [btnDisable]="true" [btnClick]="showShareModal">按钮</share-button>
  <share-radio [inRadioDatas]="radioDatas"></share-radio>
  <share-checkbox></share-checkbox>
  <share-pagination></share-pagination>
  <share-pagination [paginPage]='paginPage' [paginSize]="'big'"></share-pagination>
  <share-date-day [modelDay]="dateRange"></share-date-day>
  <div class="date-month">
    <share-date-month [(modelMonth)]="month"></share-date-month>
  </div>
  <share-date-year></share-date-year>
  <router-outlet></router-outlet> -->
</div>
