<share-button [inPara]='btnA'></share-button>
<share-button (onClick)="onShowTemplate()">服务调用temp</share-button>
<share-button (onClick)="onShowPortal()" [inWidth]="'auto'">服务调用Portal</share-button>
<share-button (onClick)="onTipModalOpen()">提示框弹窗</share-button>
<share-button (onClick)="onComponentOpen()" class="asd">组件弹窗</share-button>
<share-button (onClick)="onPositionByEle()">定位根据指定节点</share-button>
<ng-template cdkPortal #ddd>
  <ex-share-radio></ex-share-radio>
  {{name}}
</ng-template>
<ng-template #dddPortal></ng-template>
<!-- <div #dddPortal></div> -->
