<div class="share-select-panel E_BD E_BD_hover" cdkOverlayOrigin (click)='onOpenOverlay()'
  [ngClass]="{'select-has-border':checkOptions.length > 1}" shareIcon [inView]="inClear && checkOptions.length"
  (onIconClick)="onClearNodes()">
  <div class="E_T_prefix" *ngIf="_perText" [style.width]="_perWidth">{{_perText}}</div>
  <div class="selected-nodes">
    <ng-container *ngIf="elShowPlace">
      <div class="selected-node placeholder-text">
        <span>{{inPlace}}</span>
      </div>
    </ng-container>
    <ng-container *ngFor="let node of checkOptions">
      <div class="selected-node node-data-text">
        <span>{{node.showName || node.value}}</span>
        <i class="select-clear" *ngIf="inClear" (click)="onRemoveNode(node)"></i>
      </div>
    </ng-container>
    <ng-container *ngIf="elShowInput">
      <div class="selected-input input-text">
        <input [placeholder]="inPlace" [(ngModel)]="inputValue" (keydown.enter)="onInputValueEnd()"
          (blur)="onInputValueEnd()" />
      </div>
    </ng-container>
  </div>
  <div class="E_suffix_icon E_split_line" *ngIf="inFlag">
    <i class="E_I_pull_down" [ngClass]=" {'E_TF_180':openOptions}"></i>
  </div>
</div>

<!--open框的实例-->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="cdkOverlayOrigin" [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOpen]="openOptions" [cdkConnectedOverlayOffsetY]='3'
  [cdkConnectedOverlayFlexibleDimensions]="true" [cdkConnectedOverlayWidth]='cdkConnectedOverlayWidth'
  [cdkConnectedOverlayBackdropClass]="'E_O_transparent'" (backdropClick)="onCheckSureChange(false)">
  <div class="open-overlay E_O_panel">
    <ng-container [ngSwitch]="inType">
      <ng-container *ngSwitchCase="'panel'">
        <node-panel [inOptions]="options" [inCheckOptions]="checkOptions" (onCheckChange)="onCheckChange($event)"
          [inMulti]="inMulti" [inCheck]="inCheck" [inSon]="inSon" [inTip]="inTip" [inOne]="inOne" [inActive]="inActive"
          [inGanged]="inGanged" [inAdd]="inAdd"></node-panel>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <node-select [inOptions]="options" [inCheckOptions]="checkOptions" (onCheckChange)="onCheckChange($event)"
          [inMulti]="inMulti" [inCheck]="inCheck" [inSon]="inSon" [inTip]="inTip" [inOne]="inOne" [inActive]="inActive"
          [inGanged]="inGanged" [inAdd]="inAdd">
        </node-select>
      </ng-container>
    </ng-container>
    <div class="open-btns" *ngIf="inBtn">
      <div class="btn-sure" (click)="onCheckSureChange(true)">确定</div>
      <div class="btn-off" (click)="onCheckSureChange(false)">取消</div>
    </div>
  </div>
</ng-template>
