@import 'index.less';
@C-B: @C-B-normal;
@C-BG: @C-BG-normal ;

:host {
  width: 100%;
  height: 100%;
}

.share-select-panel {
  width: 100%;
  height: 100%;
  min-height: 20px;
  max-height: 100px;
  display: flex;
  align-items: center;
  background-color: @C-BG;
  cursor: pointer;


  &:hover {
    .select-clear {
      display: inline-block;
    }
  }

  &.select-has-border {
    .node-data-text {
      border: 1px solid @C-B;
      padding: 0px 2px;
      margin: 0px 2px;
      border-radius: 2px;
    }

    .selected-nodes {
      &:hover+.select-clear {
        display: none !important;
      }
    }

    .selected-node {
      position: relative;

      &:hover .select-clear {
        display: inline-block;
        top: 0px;
        right: 0px;
        margin: 0px 0px;
      }
    }
  }

  .selected-nodes {
    flex-grow: 1;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 1px 2px;

    .select-clear {
      display: none;
    }

    .selected-node {
      display: inline-block;
      flex-shrink: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;

      &.placeholder-text {
        color: @C-F-place;
        width: 100%;
      }
    }

    .selected-input {
      min-width: 100px;
      width: 100%;

      input {
        width: 100%;
        border-width: 0px;
      }
    }
  }

  .select-clear {
    .e_icon('icon/com_clear');
    position: absolute;
    right: 0px;
    display: none;
  }
}

/**弹窗样式*/
.open-overlay {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
  padding: 2px 10px;
  display: flex;
  flex-direction: column;
}

:host-context(.time-hour) {
  .open-overlay {
    padding: 2px 2px;
  }
}

///使用者需要更改弹出层样式时添加calss到此处
.calendar-panel {
  padding: 2px;

  ::ng-deep .node-content-text {
    justify-content: center;
  }
}
