<div class="share-form">
  <ng-container *ngFor="let item of inItems">
    <div class="form-item"
      [ngStyle]="{'width':item.width+'%','height':37*(item.height||1)+'px' , 'flex-grow':1*item.width}">
      <div class="item-title">{{item.title}}：</div>
      <div class="item-value">
        <ng-template *ngTemplateOutlet="valueEl,context:{item:item,type:item.type,key:item.key,value:item.values}">
        </ng-template>
      </div>
    </div>
  </ng-container>
</div>


<ng-template #valueEl let-item="item" let-type="type" let-key="key" let-value="value">
  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'a'"></ng-container>
    <ng-container *ngSwitchCase="'b'"></ng-container>
    <ng-container *ngSwitchCase="'template'">
      <ng-template *ngTemplateOutlet='value'></ng-template>
    </ng-container>
    <span *ngSwitchDefault>{{data[key]}}</span>
  </ng-container>
</ng-template>
