//正式  勿动
@C-red-a: #CC6666;@C-red-b: #CC3333;@C-red-c: #990000;@C-red-d: #AA0000;@C-red-e: #FF3300;
@C-orange-a: #FFCC99;@C-orange-b: #FFAA66;@C-orange-c:#FF9933;@C-orange-d: #FF8811;@C-orange-e: #FF6600;
@C-yellow-a: #FFFFBB;@C-yellow-b: #FFFF99;@C-yellow-c: #FFFF66;@C-yellow-d: #FFFF33;@C-yellow-e: #FFFF00;
@C-green-a: #EEFFEE;@C-green-b: #DDFFDD;@C-green-c: #CCFFCC;@C-green-d: #AAFFAA;@C-green-e: #99FF99;
@C-cyan-a: #CCFFFF;@C-cyan-b: #99FFFF;@C-cyan-c: #33CCCC;@C-cyan-d: #66FFFF;@C-cyan-e: #00FFFF;
@C-blue-a: #99CCFF;@C-blue-b: #3399ff;@C-blue-c: #3366FF;@C-blue-d: #0066FF;@C-blue-e: #0000FF;
@C-purple-a: #886688;@C-purple-b: #995599;@C-purple-c: #993399;@C-purple-d: #880088;@C-purple-e: #660066;
@C-pink-a: #FF99CC;@C-pink-b: #FF99FF;@C-pink-c: #FF66FF;@C-pink-d: #FF3399;@C-pink-e: #FF0099;
@C-gray-a: #EEEEEE;@C-gray-b: #DDDDDD;@C-gray-c: #CCCCCC;@C-gray-d: #BBBBBB;@C-gray-e: #AAAAAA;
@C-black-a: #777777;@C-black-b: #666666;@C-black-c: #555555;@C-black-d: #444444;@C-black-e: #333333;

@C-blue-1:#F6FAFF;@C-blue-2:#E4EFFF;@C-blue-3:#c0d8fe;
@C-theme: #035ade; @C-active: @C-blue-c; @C-error: @C-red-a; @C-black: #2e2e2e; @C-white: #FFF; @C-gray: #808080;

///T表格颜色相关 border边框颜色 bg-th头部栏颜色   bg-tr行白色   bg-td有颜色的行
@C-T-border:#c0d8fe;@C-T-bg-th:#E4EFFF;@C-T-bg-tr:#FFF;@C-T-bg-td:#F6FAFF;
///O弹出窗overlay相关
@C-O-border:#A8A8A8;
///S选择框弹出相关 ckeck选中的选项  active激活的  hover悬浮的
@C-S-bg:#FFF;@C-S-bg-ckeck:#F6FAFF;@C-S-bg-active:#E4EFFF;@C-S-bg-hover:#E6F7FF;
///字体颜色 normal默认的  active选中激活的边框  hover指针悬浮   error选框错误
@C-F-normal:#333;@C-F-active: #4169E1; @C-F-hover: #4169E1; @C-F-white: #FFF; @C-F-black: #2e2e2e;
///边框颜色 normal默认的  active选中边框  hover指针悬浮   error选框错误
@C-B-normal: #A8A8A8; @C-B-active: #4169E1; @C-B-hover: #4169E1; @C-B-error: #CC6666;
///背景颜色 white默认的  active选中的边框  hover指针悬浮 danger错误  gray灰色背景  primary主体色（有颜色的背景）
@C-BG-normal: #FFF; @C-BG-active: #4169E1; @C-BG-hover: #3399ff;@C-BG-danger: #AA0000;@C-BG-gray: #e0e0e0;
@C-BG-primary:#4169E1;@C-BG-blue:  #99CCFF; @C-BG-trans: transparent; 
