//如果写了实体的.claaName{} ； 打包时所有引入了改less的less文件都会有该className
@base-url: '../../assets/';

.Icon(@iconUrl, @w: 16px, @h: @w) {
  .share-icon(@iconUrl, @w, @h)
}

.Icon-P(@iconUrl, @w: 16px, @h: @w) {
  .share-icon-position(@iconUrl, @w, @h)
}

.share-icon-position(@iconUrl, @w: 16px, @h: @w) {
  .share-icon(@iconUrl, @w: 16px, @h: @w);
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
}

.share-icon(@iconUrl, @w: 16px, @h: @w) {
  display: inline-block;
  width: @w;
  height: @h;
  min-width: @w;
  min-height: @h;
  cursor: pointer;
  .Back-img(@iconUrl);
}

.Back-img(@iconUrl) {
  .Img-url(@iconUrl);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.Img-url(@url) {
  background-image: url('@{base-url}@{url}.png');
}

.Y-center() {
  max-height: 100%;

  &::before {
    content: '';
    height: 100%;
    width: 0px;
    vertical-align: middle;
  }

  vertical-align: middle;
}

.F-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
