/**
* E:标识节点 element  全局样式标识
* BD:边框  border  
* BC:背景色 background-color
* C:文本色 color
* D:标识禁用
* F:Flex 
* T:文本
* TF:transform 过度动画
*/
/**全局禁用样式*/
.E_D() {
  pointer-events: none;
  opacity: 0.5;
}

.E_D_drop() {
  opacity: 0.5;
  cursor: no-drop !important;
}

/**边框*/
.E_BD() {
  border: 1px solid @C-B-default;
  border-radius: 3px;

  &:hover {
    border: 1px solid @C-B-active;
  }
}

/**全局的文本样式*/
.E_T_placeholder() {
  color: #cccccc;
}

/**下拉打开选择弹窗的动画*/
.E_TF() {
  /**动画过程*/
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/**Flex模式水平垂直居中*/
.E_F() {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**水平垂直居中*/
.E_F_center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**分割线*/
.E_split_line() {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    right: 23px;
    border-left: 1px solid @C-B-default;
  }
}
