<div class="ex-share-date">
  <!-- <div class="share-ex" style="width: 500px">
    <share-calendar-base [model]="calendarModel"></share-calendar-base>
  </div>
  <div class="share-ex" style="width: 300px;">
    <share-calendar-panel></share-calendar-panel>
  </div> -->
  <div class="share-ex">
    <div> {{calendarModel |json}} </div>
    <div class="share-date">
      <share-calendar [inIfDefualt]="true" [inIfLink]="false" [inIfSingle]="true" [inIfMulti]="false"
        [inOverlayWidth]="200" [inTimePicker]="false" [inTimePicker]="true" [inPerText]="'北京时间'" [inPerWidth]="'100px'"
        [(model)]="calendarModel" (modelChange)="onCalendarChange($event)">
      </share-calendar>
    </div>
  </div>
  <div class="share-ex">
    <div>{{day |json}} </div>
    <div class="share-date">
      <share-date-day [(modelDay)]='day' [inPerText]="'北京时间'" [inPerWidth]="'160px'"></share-date-day>
    </div>
  </div>
  <div class="share-ex">
    <div>{{dayA |json}} </div>
    <div class="share-date">
      <share-date-day [(modelDay)]='dayA' [inLocale]="localA"></share-date-day>
    </div>
  </div>
  <div class="share-ex">
    <div> {{dayB |json}}</div>
    <div class="share-date">
      <share-date-day [(modelDay)]='dayB' [inIfSingle]="false" [inIfAutoApply]="false"></share-date-day>
    </div>
  </div>
  <div class="share-ex">
    <div> {{month}}</div>
    <div class="share-date">
      <share-date-month [inIfDefualt]='false' [inIfYear]='true' [(model)]="month" [inPerText]="'北京时间'"
        [inPerWidth]="'160px'" (modelMonthChange)="onModelMonthChange($event)">
      </share-date-month>
    </div>
  </div>
  <div class="share-ex">
    <div> {{monthB}}</div>
    <div class="share-date">
      <share-date-month [inIfDefualt]='true' [inAutoApply]="false" [inIfYear]='true' [(model)]="monthB"
        [inPerText]="'北京时间'" (modelMonthChange)="onModelMonthChangeB($event)">
      </share-date-month>
    </div>
  </div>
  <div class="share-ex">
    <div> {{year}}</div>
    <div class="share-date">
      <share-date-year [(modelYear)]="year"></share-date-year>
    </div>
  </div>
</div>
