<div class="share-select" cdkOverlayOrigin (click)='clickToggleOpen()'
  [ngClass]="{'select-has-border':checkOptions.length > 1,'select-has-control':_showFlag }">
  <div class="selected-nodes">
    <ng-container *ngIf="!checkOptions || checkOptions.length==0 ">
      <div class="selected-node placeholder-text">
        <span>{{_placeholder}}</span>
      </div>
    </ng-container>
    <ng-container *ngFor="let node of checkOptions">
      <div class="selected-node node-data-text">
        <span>{{node.showName || node.value}}</span>
        <i class="select-clear" *ngIf="_showClear" (click)="clickClearNode(node)"></i>
      </div>
    </ng-container>
  </div>
  <i class="select-clear" *ngIf="_showClear && checkOptions.length" (click)='clickClearNodes()'></i>
  <i class="select-control" [ngClass]=" {'select-control-on':optionsOpen}"></i>
</div>
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="cdkOverlayOrigin" [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOpen]="optionsOpen" [cdkConnectedOverlayOffsetY]='3'
  [cdkConnectedOverlayWidth]='cdkConnectedOverlayWidth' [cdkConnectedOverlayBackdropClass]="'transparent-overlay-back'"
  (backdropClick)="backdropClick()">
  <div class="open-nodes">
    <div class="open-node" *ngIf="inOptions.length == 0"> {{_noneTip}}</div>
    <div *ngTemplateOutlet="optionEl;context:{options:inOptions}"></div>
  </div>
</ng-template>

<ng-template #optionEl let-options="options">
  <div class="open-node" *ngFor="let option of options">
    <div class="node-content"
      [ngClass]='{"node-content-check": option._check ,"node-content-active": option[inUuid] == activeOption[inUuid] }'
      (click)="onClickOptionNode(option)">
      <ng-container *ngIf="_showCheck">
        <share-checkbox [modelChecked]='option._check' [inIsOther]='option._mix' (onClick)="onCheckChange( option)">
        </share-checkbox>
      </ng-container>
      <div class="node-content-text"><span>{{option.value}}</span></div>
      <ng-container *ngIf="option.children && option.children.length > 0">
        <i (click)="onClickOptionChild(option)" class="children-icon"
          [ngClass]='{"open-children-icon":option.showChild}'></i>
      </ng-container>
    </div>
    <ng-container *ngIf="option.showChild">
      <div *ngTemplateOutlet="optionEl;context:{options:option.children}"></div>
    </ng-container>
  </div>
</ng-template>
