@import "index.less";
@week-height: 32px;

:host {
  width: 100%;
  height: 100%;
}

/// 头部年月控制部分
.calendar-ctr {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  background: #D5E8FF;
  position: relative;
}

.calendar-ctr-per,
.calendar-ctr-next {
  margin: 0px 2px;
  text-align: center;
  width: 16px;
  height: 22px;
  background: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;

  &.ctr-disable {
    background-color: #ececec;
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

.calendar-ctr-date {
  cursor: pointer;
  padding: 0px 5px;
  min-width: 90px;
  height: 22px;
  display: flex;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
}

/// 日历部分
.calendar-content {
  background-color: @C-BG-time;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 1px;
  user-select: none;
  /**宽度太小会导致显示本年第几周换行*/
  min-width: 200px;
}

.calendar-week-item,
.calendar-item {
  width: 13%;
  flex-grow: 1;
  color: @C-F-time-disable;
  font-size: 14px;
  position: relative;
  margin: 1px 0px 0px 1px;
  box-shadow: 0px 0px 0px 1px @C-B-time;
  z-index: 20;
  cursor: default;
}

.calendar-item {
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 0px 1px @C-B-time-hover;
    background-color: @C-BG-time-hover;
    z-index: 30;
  }

  /**面板当月的字体颜色*/
  &.show-item {
    color: @C-F-time;
  }

  /**处于划选范围内的日期 */
  &.range-item {
    box-shadow: 0px 0px 0px 1px @C-B-time-hover;
    background-color: @C-BG-time-hover;
    color: @C-B-time-hover;
    z-index: 35;
  }

  /**选中的日期*/
  &.checkB-item,
  &.checkA-item {
    box-shadow: 0px 0px 0px 1px @C-B-time-check;
    background-color: @C-BG-time-ckeck;
    color: @C-F-time-check;
    z-index: 50;
  }

  &.checkA-item {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    &.check-item {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  &.checkB-item {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  /**超出范围禁止样式 */
  &.disable-item {
    color: @C-F-time-disable;
    cursor: default;
    box-shadow: 0px 0px 0px 1px @C-B-time;
    background-color: @C-BG-time;
    z-index: 20;

    .date-day {
      text-decoration: line-through;
    }
  }
}

///日历星期框
.calendar-week {
  height: @week-height;
  line-height: @week-height;
  text-align: center;
  color: @C-F-time;
  background-color: @C-BG-time-week;
}

///日历日期框
.calendar-day {
  padding: 50% 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

///日期框日期
.date-day,
.week-day {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.date-day.today {
  width: 45%;
  height: 45%;
  background: #185EFE;
  border-radius: 2px;
  color: #FFF;
}

.item-data,
.week-data {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.week-data {
  background-color: @C-BG-time-week;
}

///日期时间选择框
.calendar-time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;

  .time-group {
    display: flex;
    justify-content: space-between;

    .time {
      display: flex;
    }
  }
}

.calendar-week-numbers {

  .calendar-week-item,
  .calendar-item {
    width: 12%;
  }
}

/// ::ng-deep share-select这样写样式权重低 无法更改组件样式
share-select::ng-deep {
  div.share-select-panel {
    width: 50px;
    height: 20px;
  }

  .E_split_line {
    border-left: 0px;
    width: 20px;

    i {
      transform: scale(0.5);
    }

    i.E_TF_180 {
      transform: rotate(180deg) scale(0.5);
    }
  }
}
