<div class="node-add">
  <div class="open-nodes">
    <ng-container *ngFor="let option of options">
      <div class="option-node">
        <div share-check class="option-check" [model]="option._check"
          (onClick)="onOptionCheck($event,option)"></div>
        <span [title]="option.value">{{option.value}}</span>
      </div>
    </ng-container>
    <ng-container *ngFor="let option of addOptions">
      <div class="add-node">
        <div share-check [inIfDisable]="!option.value" [model]="option._check" class="option-check"
          (onClick)="onOptionCheck($event,option)">
        </div>
        <input [(ngModel)]="option.value" (keydown.enter)="onInputValueEnd(option)" (blur)="onInputValueEnd(option)"
          placeholder="请输入" />
      </div>
    </ng-container>
    <ng-container *ngIf="inIfAdd">
      <div class="option-add"><span (click)="onAddOption()">+ 添加选项</span> </div>
    </ng-container>
  </div>
</div>
