<div class="node-panel">
  <div class="open-node none-node" *ngIf="inOptions.length == 0"> {{inTip}}</div>
  <div class="open-node super-node" *ngIf="superOptions && superOptions.length>1">
    <div *ngFor="let super of superOptions;last as isLast" (click)="onCheckSuper(super)">
      <span class="super-name">{{super.value}}</span>
      <span *ngIf="!isLast">>></span></div>
  </div>
  <ng-container *ngFor="let option of activeOptions">
    <div class="node-option">
      <div class="option-content" (click)="onClickOption(option)" (dblclick)="onDblClick(option)">
        <share-check [model]="option._check" [inIfOther]="option._mix" (onClick)="onCheckOption($event,option)">
        </share-check>
        <span
          [ngClass]="{'node-children': option.children && option.children.length >0 && inSon}">{{option.value}}</span>
      </div>
    </div>
  </ng-container>
</div>
