@import '../../../styles/index.less';

:host {
  width: 100%;
  height: 100%;
}

.share-date-year {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;

  input {
    .B();
    width: 100%;
    height: 100%;
  }
}

.year-plan {
  .B();
  display: flex;
  max-width: 200px;
  min-width: 100px;
  font-size: 12px;

  .next-year,
  .per-year {
    width: 15px;
    height: 100%;
    position: relative;
    min-width: 15px;

    i {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      .Icon('icon/pull_down', 12px, 8px);
    }
  }

  .per-year i {
    transform: translate(-50%, -50%) rotateZ(90deg);
  }

  .next-year i {
    transform: translate(-50%, -50%) rotateZ(-90deg);
  }

  .year-items {
    flex-grow: 1;
    .F();
  }

  .year-item {
    .F-C();
    flex-grow: 1;
    width: 33%;
    height: 30px;
    background-color: #FFF;

    .item {
      .B();
      padding: 3px;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        .B(@C-blue-a);
        color: @C-blue-a;
      }
    }

    &.active-item .item {
      .B(@C-active);
      color: @C-active;
    }
  }
}
