<div class="sidebar-scroll" [ngClass]="{'close-list': listClose}" onselectstart="return false;">
  <div class="sidebar-title">
    <i class="title-icon" (click)="setMenuWidth()"></i>
  </div>
  <ul class="sidebar-list">
    <div *ngTemplateOutlet="menusEl;context:{menus:sideMenus}"></div>
  </ul>
  <div *ngIf="!listClose" class="foot-copyright">
    <span>天津天元海科技开发有限公司</span>
    <span>Copyright&nbsp;©&nbsp;2020&nbsp;</span>
  </div>
</div>

<ng-template #menusEl let-menus="menus">
  <ng-container *ngFor="let menu of menus">
    <div class="menu" *ngIf="menu.ifShow">
      <div class="menu-item" [ngClass]="{'menu-active':menu.active}" (click)="onSelectMenu($event,menu)">
        <i class="menu-icon" [ngClass]="menu.icon"></i>
        <span class="menu-name" [title]='menu.title'>{{menu.title }}</span>
        <i class="open-sub" *ngIf="menu.children" [ngClass]="{'close-sub':menu.openSub}"></i>
      </div>
      <ng-container *ngIf="menu.children && menu.openSub">
        <div *ngTemplateOutlet="menusEl;context:{menus:menu.children}"></div>
      </ng-container>
    </div>
  </ng-container>
</ng-template>
